<!DOCTYPE HTML>
<!--
	Big Picture by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Big Picture by HTML5 UP</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        <script>
            var themepath = '{{ paths.theme }}';
        </script>
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ paths.theme }}js/jquery.min.js"></script>
		<script src="{{ paths.theme }}js/jquery.poptrox.min.js"></script>
		<script src="{{ paths.theme }}js/jquery.scrolly.min.js"></script>
		<script src="{{ paths.theme }}js/jquery.scrollgress.min.js"></script>
		<script src="{{ paths.theme }}js/skel.min.js"></script>
		<script src="{{ paths.theme }}js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="{{ paths.theme }}css/skel.css" />
			<link rel="stylesheet" href="{{ paths.theme }}css/style.css" />
			<link rel="stylesheet" href="{{ paths.theme }}css/style-wide.css" />
			<link rel="stylesheet" href="{{ paths.theme }}css/style-normal.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ paths.theme }}css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">

				<!-- Logo -->
					<h1 id="logo">Big Picture</h1>
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro">Intro</a></li>
							<li><a href="#one">What I Do</a></li>
							<li><a href="#two">Who I Am</a></li>
							<li><a href="#work">My Work</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</nav>

			</header>
			
		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content container small">
					<header>
						<h2>Hey.</h2>
					</header>
					<p>Welcome to <strong>Big Picture</strong> a responsive site template designed
					by <a href="http://html5up.net">HTML5 UP</a>, built on <strong>skel</strong>,
					and released for free under the <a href="http://html5up.net/license">Creative Commons Attribution 3.0 license</a>.</p>
					<p><em>Adapted for Bolt.</em></p>
					<footer>
						<a href="#one" class="button style2 down">More</a>
					</footer>
				</div>
			</section>
		
		<!-- One -->
		
		{% setcontent page = 'page' where { id: '1' } %}
		
			<section id="one" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>{{ page.title }}</h2>
					</header>
					<p>{{ page.excerpt(100) }}</p>
				</div>
				<a href="#two" class="button style2 down anchored">Next</a>
			</section>
		
		<!-- Two -->
		
		{% setcontent page = 'page' where { id: '2' } %}
		
			<section id="two" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>{{ page.title }}</h2>
					</header>
					<p>{{ page.excerpt(100) }}</p>
				</div>
				<a href="#work" class="button style2 down anchored">Next</a>
			</section>
			
		<!-- Work -->
		
		{% setcontent page = 'page' where { id: '3' } %}
		
			<section id="work" class="main style3 primary">
				<div class="content container">
					<header>
						<h2>{{ page.title }}</h2>
						<p>{{ page.excerpt(100) }}</p>
					</header>
					
					<!-- Lightbox Gallery  -->
						<div class="container small gallery">
    						
    						
    				{% setcontent records = "entries/random/6" %}
                    {% for record in records %}
    						
    						{% if loop.index is odd %}
    						
							<div class="row flush images">
								<div class="6u"><a href="{{ record.image|image }}" class="image fit from-left"><img src="{{ thumbnail(record.image, 460, 360) }}" title="{{ record.title }}" alt="" /></a></div>
                            {% else %}
								<div class="6u"><a href="{{ record.image|image }}" class="image fit from-right"><img src="{{ thumbnail(record.image, 460, 360) }}" title="{{ record.title }}" alt="" /></a></div>
							</div>
                            
                            {% endif %}		
							
                    {% endfor %}
						
						</div>

				</div>
			</section>
			
		<!-- Contact -->
		
        <!--
						
        Use the Simpleforms extension to create your own form and settings.
						
        -->
		
		
			<section id="contact" class="main style3 secondary">
				<div class="content container">
					<header>
						<h2>Say Hello.</h2>
						<p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.</p>
					</header>
					<div class="box container small">
					
					<!-- Contact Form -->
							<form method="post" action="#">
								<div class="row half">
									<div class="6u"><input type="text" name="name" placeholder="Name" /></div>
									<div class="6u"><input type="email" name="email" placeholder="Email" /></div>
								</div>
								<div class="row half">
									<div class="12u"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
								</div>
								<div class="row">
									<div class="12u">
										<ul class="actions">
											<li><input type="submit" value="Send Message" /></li>
										</ul>
									</div>
								</div>
							</form>

					</div>
				</div>
			</section>
			
		<!-- Footer -->
			<footer id="footer">

				<!-- Icons -->
					<ul class="actions">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>

				<!-- Menu -->
					<ul class="menu">
						<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
			
			</footer>

	</body>
</html>