<!DOCTYPE HTML>
<!--
	Big Picture by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>
			{% if record.title is defined %}{{ record.title|striptags }} | {% endif %}
			{{ app.config.get('general/sitename') }}
			{% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif %}
		</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script>
			var themepath = '{{ paths.theme }}';
		</script>
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ paths.theme }}js/jquery.min.js"></script>
		<script src="{{ paths.theme }}js/jquery.poptrox.min.js"></script>
		<script src="{{ paths.theme }}js/jquery.scrolly.min.js"></script>
		<script src="{{ paths.theme }}js/jquery.scrollgress.min.js"></script>
		<script src="{{ paths.theme }}js/skel.min.js"></script>
		<script src="{{ paths.theme }}js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="{{ paths.theme }}css/skel.css" />
			<link rel="stylesheet" href="{{ paths.theme }}css/style.css" />
			<link rel="stylesheet" href="{{ paths.theme }}css/style-wide.css" />
			<link rel="stylesheet" href="{{ paths.theme }}css/style-normal.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ paths.theme }}css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">

				<!-- Logo -->
					<h1 id="logo">{{ app.config.get('general/sitename') }}</h1>
				
		{% setcontent paragraphs = 'paragraphs' orderby 'weight' %}
				<!-- Nav -->
					<nav id="nav">
						<ul>
			{% for paragraph in paragraphs %}
				{% if loop.first %}
					{% set anchor = "intro" %}
				{% else %}
					{% set anchor = paragraph.slug %}
				{% endif %}
				<li><a href="#{{ anchor }}">{{ paragraph.title }}</a></li>
			{% endfor %}
							<li><a href="#contact">Contact</a></li>
						</ul>
					</nav>

			</header>

		{% for paragraph in paragraphs %}
			{#{{ dump(paragraph) }}#}
			{% if loop.first %}
				{% set anchor = "intro" %}
			{% else %}
				{% set anchor = paragraph.slug %}
			{% endif %}
			{% if paragraph.gallery|e %}
			<section id="work" class="main style3 primary">
				<div class="content container">
			<!-- Lightbox Gallery  -->
				<header>
					<h2>{{ paragraph.title }}</h2>
					<p>{{ paragraph.body }}</p>
				</header>
				<div class="container small gallery">
				{% for gallery in paragraph.gallery %}
				{% if loop.index is odd %}
				<div class="row flush images">
					<div class="6u"><a href="{{ gallery.filename|image }}" class="image fit from-left"><img src="{{ thumbnail(gallery.filename, 460, 360) }}" title="{{ gallery.title }}" alt="" /></a></div>
				{% else %}
					<div class="6u"><a href="{{ gallery.filename|image }}" class="image fit from-right"><img src="{{ thumbnail(gallery.filename, 460, 360) }}" title="{{ gallery.title }}" alt="" /></a></div>
				</div>
				{% endif %}
				{% endfor %}
			{% else %}
			<section id="{{ anchor }}" class="main {{ paragraph.style }} {{ paragraph.position }} {% if paragraph.dark == "yes" %}dark{% endif %} fullscreen background-image"
			style="background: url('{{ paths.theme }}css/images/overlay.png'), url('files/{{ paragraph.background }}'); background-size: 256px 256px, cover;">
				<div class="content {{ paragraph.innerstyle }} {{ paragraph.style }}">
				<header>
				<h2>{{ paragraph.title }}</h2>
				</header>
				<p>{{ paragraph.body }}</p>
			{% endif %}
			{% if paragraph.gallery|e %}
				</div>
			{% else %}
				<footer>
					{% if loop.last %}
						<a href="#contact" class="button {{ paragraph.style }} down">More</a>
					{% else %}
						<a href="#{{ paragraph.next('weight').slug }}" class="button {{ paragraph.style }} down">More</a>
					{% endif %}
				</footer>
				</div>
			{% endif %}
			</section>
		{% endfor %}
			
		<!-- Contact -->
		
		<!--
						
		Use the Simpleforms extension to create your own form and settings.
						
		-->
		
		
			<section id="contact" class="main style3 secondary">
				<div class="content container">
					<header>
						{% if app.config.get('general/contactform/title') != "" %}
						<h2>{{ app.config.get('general/contactform/title') }}</h2>
						{% endif %}
						{% if app.config.get('general/contactform/text') != "" %}
						<p>{{ app.config.get('general/contactform/text') }}</p>
						{% endif %}
					</header>
					<div class="box container small">
					
					<!-- Contact Form -->
							<form method="post" action="#">
								<div class="row half">
									<div class="6u"><input type="text" name="name" placeholder="Name" /></div>
									<div class="6u"><input type="email" name="email" placeholder="Email" /></div>
								</div>
								<div class="row half">
									<div class="12u"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
								</div>
								<div class="row">
									<div class="12u">
										<ul class="actions">
										{% if app.config.get('general/contactform/button') != "" %}
											<li><input type="submit" value="{{ app.config.get('general/contactform/button') }}" /></li>
										{% else %}
											<li><input type="submit" value="Send Message" /></li>
										{% endif %}
										</ul>
									</div>
								</div>
							</form>

					</div>
				</div>
			</section>
			
		<!-- Footer -->
			<footer id="footer">

				<!-- Icons -->
					<ul class="actions">
						{% if app.config.get('general/social/github') != "" %}
						<li><a href="{{ app.config.get('general/social/github') }}" class="icon fa-github"><span class="label">GitHub</span></a></li>
						{% endif %}
						{% if app.config.get('general/social/linkedin') != "" %}
						<li><a href="{{ app.config.get('general/social/linkedin') }}" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
						{% endif %}
						{% if app.config.get('general/social/twitter') != "" %}
						<li><a href="{{ app.config.get('general/social/twitter') }}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						{% endif %}
						{% if app.config.get('general/social/facebook') != "" %}
						<li><a href="{{ app.config.get('general/social/facebook') }}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						{% endif %}
						{% if app.config.get('general/social/googleplus') != "" %}
						<li><a href="{{ app.config.get('general/social/googleplus') }}" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
						{% endif %}
						{% if app.config.get('general/social/dribbble') != "" %}
						<li><a href="{{ app.config.get('general/social/dribbble') }}" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						{% endif %}
						{% if app.config.get('general/social/pinterest') != "" %}
						<li><a href="{{ app.config.get('general/social/pinterest') }}" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
						{% endif %}
						{% if app.config.get('general/social/instagram') != "" %}
						<li><a href="{{ app.config.get('general/social/instagram') }}" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						{% endif %}
					</ul>

				<!-- Menu -->
					<ul class="menu">
						<li>&copy; {{ app.config.get('general/sitename') }}</li>
					</ul>
			
			</footer>

	</body>
</html>
